<h3>Categories</h3>
<div class="container">
  <nav>
    <a routerLink="/kids-clothes" routerLinkActive="active">Kids clothes</a>
    <a routerLink="/men-clothes" routerLinkActive="active">Men clothes</a>
    <a routerLink="/women-clothes" routerLinkActive="active">Women clothes</a>
    <a routerLink="/kids-food" routerLinkActive="active">Kids food</a>
    <a routerLink="/kids-toys" routerLinkActive="active">Kids toys</a>
    <a routerLink="/kids-school" routerLinkActive="active">Kids school</a>
  </nav>
  <router-outlet></router-outlet>
</div>